 *{ 
     margin: 0; 
     padding: 0; 
    
}

img{
    border-radius: 50%;
    width: 70px;
    
}
 body{ 
    background-color:#0f0f0f;    
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh ;
   
}

.container{
    width: 18vw;
    padding: 40px;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    height: 65vh;
    border-radius: 9px;
    
}



.container .topinfo img{
    margin-left: 85px;
    
}

.container .topinfo h2{
    margin-left: 40px;
    
}

.container .topinfo .location{
    margin-left: 50px;
    margin-top: 8px;
}

.container .topinfo p{
    margin-left: 20px;
}


h2{
    color: white;
}

.location{
    color: #dfff00;
    font-weight: 1000;
    font-size: smaller;
}

p{
    color: aliceblue;
    font-size: small;
}

.github{
    color: white;
    /* margin-top: 10px; */
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    
}

.gitcontainer{
    display: flex;
    background-color:#343434 ;
    border-radius: 6px;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.frontendmentor{
    color: white;
    /* margin-top: 10px; */
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    
}

.frontcontainer{
    display: flex;
    background-color:#343434 ;
    border-radius: 6px;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.linkedin{
    color: white;
    /* margin-top: 10px; */
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    
}

.linkcontainer{
    display: flex;
    background-color:#343434 ;
    border-radius: 6px;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.twitter{
    color: white;
    /* margin-top: 10px; */
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    
}

.twicontainer{
    display: flex;
    background-color:#343434 ;
    border-radius: 6px;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.instagram{
    color: white;
    /* margin-top: 10px; */
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    
}

.instacontainer{
    display: flex;
    background-color:#343434 ;
    border-radius: 6px;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width:768px) {

    .container{
        /* width: 40vw; */
        width: 90vw;
        /* padding: 40px;
        padding-top: 60px; */
        padding: 30px 10px;
        height: fit-content;
        
    }

    .image{
        width: 100%;
        /* margin-bottom: 70px; */
        display: flex;
        justify-content: center;
        
        
    }

    .container .topinfo h2{
        /* margin-left: 50px; */
        font-size: xx-large;
        /* width: 30vw; */
    } 

    h2{
    
        margin: 20px 0 !important;
        text-align: center;
    }
    
    .location{
        /* margin-left: 45px; */
        margin: 0 !important;
        text-align: center;

    }

    .container .topinfo .location{
        margin-left: 56px;
        font-size: large;
        margin-top: 3px;
    }

    .container .topinfo p{
        font-size: large;
    }
    
  img{
        border-radius: 50%;
        /* width: 70px; */
        width: 50%;
        margin: 0 !important;
        
    }
    
 p{
    margin: 0 !important;
    text-align: center;
 }







    }
    
    
    
  

    
    
